Repository shoumoji/huit-space-apps-sapporo: changes, and which CircleCI parameters are due for each by the changed paths.
All: stg-api-workflow, stg-frontend-workflow, prd-api-workflow, prd-frontend-workflow

feature: 国名と座標をDBにセット
  database/1_schema.sql
  database/2_initial-data.sql
Due: none

fix: ciの修正
  .github/workflows/schemaspy.yaml
Due: none

fix: codeの制約を変更
  database/1_schema.sql
  database/2_initial-data.sql
Due: none

Create pages.yml
  .github/workflows/pages.yml
Due: none

fix: POINT型は緯度経度両方のデータを持っているため、変更
  database/1_schema.sql
Due: none

Generate ER diagrams
  database/schema/columns.html
  database/schema/diagrams/orphans/countries.1degree.dot
  database/schema/diagrams/orphans/countries.1degree.svg
  database/schema/huit.huit.xml
  database/schema/index.html
  database/schema/info-html.txt
  database/schema/tables/countries.html
Due: none

fix: locationのデータを修正
  database/2_initial-data.sql
Due: none

Generate ER diagrams
  database/schema/columns.html
  database/schema/index.html
  database/schema/info-html.txt
Due: none

create react-app
  frontend/.gitignore
  frontend/README.md
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/logo.svg
  frontend/src/reportWebVitals.js
  frontend/src/setupTests.js
  frontend/yarn.lock
  package.json
Due: stg-frontend-workflow, prd-frontend-workflow

feature: 人口データcsvの追加、これをDBに入れる
  README.md
  database/2_initial-data.sql
  database/population2021.csv
Due: none

mapの表示
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/pages/Home.js
  frontend/yarn.lock
Due: stg-frontend-workflow, prd-frontend-workflow

feature: countryを追加
  api/main.py
  database/2_initial-data.sql
Due: stg-api-workflow, prd-api-workflow

feature: countryを追加
  api/country.py
Due: stg-api-workflow, prd-api-workflow

countryの更新
  api/country.py
Due: stg-api-workflow, prd-api-workflow

データの修正
  api/country.py
Due: stg-api-workflow, prd-api-workflow

Path conditions:
  stg-api-workflow: any of: api/.*
  stg-frontend-workflow: any of: frontend/.*
  prd-api-workflow: any of: api/.*
  prd-frontend-workflow: any of: frontend/.*
